In [5]:
def car(a,b):
    c=a%b
    print(c)
    return c

car(b=3,a=5)

2

2

In [2]:
x = "global"

def outer_function():
    x = "outer"

    def inner_function():
        nonlocal x
        x = "inner"
        print(x)

    inner_function()
    print(x)

outer_function()
print(x)

inner
inner
global

In [ ]:
def add(x,y):
  z=x+y
  print(z)

In [ ]:
add(2,3)

5

In [ ]:
type(add(2,3))

5

NoneType

In [ ]:
def subtract(x,y):
  z=x-y
  return z

In [ ]:
type(subtract(2,3))

int

In [ ]:
add(2,3) + 5 #'NoneType' and 'int'

5

TypeError: ignored

In [ ]:
subtract(2,3) + 5

4

In [ ]:
def test3(n, m ):
    return n*10 , m*40 ,m+n

In [ ]:
test3(2,7) # by default return gives multiple value o/p in tuple

(20, 280, 9)

In [ ]:
c,x,v = test3(2,7)

In [ ]:
x

280

In [ ]:
c,_, x = test3(2,7) # underscore is placeholder for 3rd operation's o/p as i dont want result of 3rd operation... ( _ ) this gives any random no instead of o/p ...
# without ( _ ) unpacking is not possible thats why we used it

In [ ]:
x , _

(9, 280)

In [ ]:
def subtract(x,y,z):
  return x+y # usually first operation
  return y-z 
subtract(1,2,3)

3

In [ ]:
def subtract(x,y,z):
  return x-y 
  return y-z # override x-y as both same operations so last operation excutes
subtract(1,2,3)

-1

In [ ]:
def subtract(x,y,z):
  return x+y #  usually first operation
  return y*z 
subtract(1,2,3)

3

In [ ]:
def fun(whatever):
  return whatever * 2
fun([1,2,3,4])

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
fun(15)

30

In [ ]:
def add(x, y=10 ): # by default giving value of y
  return x+y
add(20) # we can pass only 1 value cause 1 value is by default given

30

In [ ]:
add(20,30) # overriding the default value

50

In [ ]:
def add(x=10, y=10 ): 
  return x+y
add() # calling without argument ........u can override this at runtime

20

In [ ]:
def add(x=10, y=10 ): 
  return x+y
add(y=30) # order matters

40

In [ ]:
def name(*args): # *args takes multiple arguments or input 
  return args
name("anuja",12,(5,2,3,))

('anuja', 12, (5, 2, 3))

In [ ]:
def name(*args): # *args hold data in tthe form of iterable
  lst=[]
  for i in args:
    lst.append(i)
  return lst
  
name([1,2,3,4],[5,6,7,8],[9,10,11],[12,13,14,15])

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11], [12, 13, 14, 15]]

In [ ]:
def name(*args): # *args hold data in the form of iterable
  lst=[]
  for i in args:
    lst.extend(i)
  return lst
  
name([1,2,3,4],[5,6,7,8],[9,10,11],[12,13,14,15])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
def mul(*args):
  return [i for i in args]

In [ ]:
mul([1,2,3,4],[5,6,7,8])

[[1, 2, 3, 4], [5, 6, 7, 8]]

### Packing and Unpacking Arguments in Python

In [8]:
#Supposing 1, 2, 3, 4, 5 are going to be function parameters
# We want to add these numbers
values = (1, 2, 3, 4, 5)
 
def add_numbers(*args):
  total = 0
  for num in args:
    total += num
  print(total)  
  return total
 
add_numbers(*values)

15

15

##### ** operator is used to unpack arguments from dictionaries and perform operations on them seamlessly.

In [10]:
def myFun(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)
     
# Using **kwargs to pass arguments to this function : 
kwargs = {"arg1" : "InterviewBit", "arg2" : "Blog", "arg3" : "Packing and Unpacking"}
myFun(**kwargs)

arg1: InterviewBit
arg2: Blog
arg3: Packing and Unpacking

#### We will input the user’s name and age to check_eligibility(), where packing takes place. Then eligibility to vote is checked for and the args is passed to the print_eligibility() function, where unpacking takes place and the eligibility message is printed.

In [11]:
def print_eligibility(name, age, eligibility):
    print(f'Hey {name}, you are {eligibility} to vote.')                 
 
def check_eligibility(*args):
    # Convert args tuple to a list so we can modify it
    args = list(args)
    if args[1] >= 18:
        elig = 'eligible'
    else:
        elig = 'not eligible'
    
    args.append(elig)
    print_eligibility(*args)
 
check_eligibility('Anshika', 15)

Hey Anshika, you are not eligible to vote.

### The * operator (quite often associated with args) can be used with any iterable, whereas the ** operator (quite often associated with kwargs) can only be used on dictionaries.
Packing and unpacking come out to be very helpful when we have functions that can take a variable number of arguments.
Accessing the arguments very easily helps us modify the function arguments and use them further.
Packing and Unpacking arguments in Python programming are fundamentally useful and quite a game-changer when it comes to working with functions in Python. *args and **kwargs prove to be very useful while writing better wrapper functions as they require a variable number of arguments.

In [ ]:
def mul(**kwargs): #pass unlimited data but only in format of key-value pair, keyward argument -parameter
  return kwargs

mul(a="anuja",c=[1,2] ,z="dream")

{'a': 'anuja', 'c': [1, 2], 'z': 'dream'}

In [9]:
# A Python program to demonstrate packing of
# dictionary items using **
def fun(**kwargs):
    # Printing dictionary items
    for key in kwargs:
        print("%s = %s" % (key, kwargs[key]))
 
fun(name="Scaler Academy", ID="001", language="Python")

name = Scaler Academy
ID = 001
language = Python

In [ ]:
def func1(*args):
  dt = {}
  for i in args:
    if type(i) in dt:
      dt[type(i)].append(i)
    else:
      dt[type(i)] = [i] 
  return dt
    
func1(1,2,3,[5,6,7],'hi','io', 6+7j , 6+4j , {"a":"bc","c":"dccc"} )

{int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io'],
 complex: [(6+7j), (6+4j)],
 dict: [{'a': 'bc', 'c': 'dccc'}]}

In [ ]:
 {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

### lambda [arguments] : expression

1. evry lambda begins with lambda keyword
2. can have multiple arguments sep by comma
3. a colon perceds the expression
4. expression always returns an object
5. don’t write the function's name as well as there is no return keyword.

In [1]:
# Example of lambda function
print((lambda x : 6 + x)(5)) #10

11

In [2]:
# Regular function
def sum(num1, num2):
   return (num1 + num2)
 
# Equivalent lambda function
sum_lambda = lambda num1, num2 : num1 + num2

print (sum(5,4)) #9
print(sum_lambda(5, 4)) #9

9
9

### lambda function with  filter(), map(), or reduce().

## filter(function, iterable)

**function**	A Function to be run for each item in the iterable

**iterable**	The iterable to be filtered

In [4]:
numbers = [1,2,3,4,5,6,7,8]
 
# one liner code to make list of even numbers using filter() function
even_no = list(filter((lambda x : x % 2 == 0), numbers))

print(even_no)

[2, 4, 6, 8]

###### The numbers from a list get passed as a parameter as we iterate through the list and get evaluated with the expression inside the lambda function which is used as an anonymous function.
Every time an expression lambda function is evaluated as true, a new value gets appended to the new list of even numbers, i.e. even_no.