# List Manipulation

1. **Creating and Accessing Lists**

2. **List Operations**

3. **Working with Lists**

4. **List Functions and Methods**

The python lists  are containers that are used to store a list of values of any type.

**Python lists are mutable**

## Creating and Accessing Lists

The Lists are depicted through square brackets

In [1]:
# Empty list
[]

[]

In [2]:
# list of integers
[1, 2, 3, 4]

[1, 2, 3, 4]

In [3]:
# list of numbers (integers and floating point)
[1, 2.5, 7.8, 10]

[1, 2.5, 7.8, 10]

In [4]:
# list of characters
['a', 'b', 'c']

['a', 'b', 'c']

In [5]:
# list of strings
['one', 'two', 'three']

['one', 'two', 'three']

In [6]:
# list of mixed value types
['a', 1, 5.9, 'zero']

['a', 1, 5.9, 'zero']

In [7]:
# Nested list
# A list can have an element in it, which itself is a list
L = [3, 4, [5, 6], 7]
L

[3, 4, [5, 6], 7]

In [8]:
# Indexing for nested list
# To fetch the value of 6 from the list

L = [3,4,[5,6],7]
L[2][1]

6

### creating list from existing sequence

In [9]:
list1 = list("Edubridge")
list1

['E', 'd', 'u', 'b', 'r', 'i', 'd', 'g', 'e']

In [10]:
list2 = list(input("Enter the list "))
list2

Enter the list ['E', 'd', 'u', 'b', 'r', 'i', 'd', 'g', 'e']

['[',
 "'",
 'E',
 "'",
 ',',
 ' ',
 "'",
 'd',
 "'",
 ',',
 ' ',
 "'",
 'u',
 "'",
 ',',
 ' ',
 "'",
 'b',
 "'",
 ',',
 ' ',
 "'",
 'r',
 "'",
 ',',
 ' ',
 "'",
 'i',
 "'",
 ',',
 ' ',
 "'",
 'd',
 "'",
 ',',
 ' ',
 "'",
 'g',
 "'",
 ',',
 ' ',
 "'",
 'e',
 "'",
 ']']

In [11]:
# It generates individual elements from the individual letters of the string
L1 = list("hello")
L1

['h', 'e', 'l', 'l', 'o']

In [12]:
# It generates individual elements from the individual elements of the passed tuple
t = ('h','e','l','l','o')
L2 = list(t)
L2

['h', 'e', 'l', 'l', 'o']

In [81]:
L3 = list(input("Enter list elements "))
L3

Enter list elements 1 2 3 5 4 8 9

['1', ' ', '2', ' ', '3', ' ', '5', ' ', '4', ' ', '8', ' ', '9']

### Accessing individual elements

In [14]:
vowels = ['a', 'e', 'i', 'o', 'u']
vowels

['a', 'e', 'i', 'o', 'u']

In [15]:
vowels[0]

'a'

In [16]:
vowels[4]

'u'

In [17]:
vowels[-1]

'u'

## List Operations

1. **joining lists**

2. **replicating lists**

3. **slicing lists**

#### 1. Joining lists
The concatenation operator +, when used with two lists, joins two lists

The + operator when used with lists requires that both the operands must be of list types

In [18]:
list1 = [1, 2, 3]
list2 = [6, 7, 8]
a = list1 + list2
print(a)

[1, 2, 3, 6, 7, 8]

#### 2. Repeating or replicating lists

Like strings, we can use * operator to replicate a list specified number of times

In [19]:
list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 3. Slicing the list 

list slices as per following format

[start:stop]

In [20]:
lst = [10, 12, 14, 20, 22, 24, 30, 32, 34]
lst

[10, 12, 14, 20, 22, 24, 30, 32, 34]

In [21]:
# [start:end]
lst[3:7]

[20, 22, 24, 30]

In [22]:
max(lst)

34

In [23]:
# Negative Indexing
lst[-7:-3]

[14, 20, 22, 24]

In [24]:
lst

[10, 12, 14, 20, 22, 24, 30, 32, 34]

In [25]:
# list also support slice steps 
# step size = 2
#[start:stop:step]
lst[0:9:2]

[10, 14, 22, 30, 34]

#### List Modification

In [26]:
L = ["one", "two", "three"]

In [27]:
L

['one', 'two', 'three']

In [28]:
L[0:2] = [0, 1]

In [29]:
L

[0, 1, 'three']

## List functions and Methods

### The len()  function
It returns the number of elements in the passed list

In [30]:
len([1, 2 ,3, "edu"])

4

In [31]:
# list1 contains 4 elements: 2 integers, a list and a tuple in it
list1 = [4, 5, [6, 7], (8, 9)]

In [32]:
list1

[4, 5, [6, 7], (8, 9)]

In [33]:
len(list1)

4

### The index() method
This function returns the index of first matched item from the list

In [34]:
L1 = [12, 15, 13, 16, 15, 12, 10, 13]
L1

[12, 15, 13, 16, 15, 12, 10, 13]

In [35]:
L1.index(13)

2

In [36]:
L1.index(13)

2

### The append() method

The append() method adds an item to the end of the list

In [37]:
colours = ['red', 'orange', 'green']
colours

['red', 'orange', 'green']

In [38]:
colours.append('yellow')

In [39]:
colours

['red', 'orange', 'green', 'yellow']

In [40]:
lst = [1, 2, 3]

In [41]:
lst.append(colours)
lst

[1, 2, 3, ['red', 'orange', 'green', 'yellow']]

In [42]:
len(lst)

4

### The extend() method
 
 The **extend()** method is also used for adding multiple elements. 
 
 while **append()** function adds **one element to a list**, **extend()** can add **multiple elements from a list**

In [43]:
colours = ['red', 'orange', 'green']
colours

['red', 'orange', 'green']

In [44]:
colours.extend(['yellow', 'blue', 'black'])

In [45]:
colours

['red', 'orange', 'green', 'yellow', 'blue', 'black']

In [46]:
lst = [1, 2, 3]

In [47]:
lst.extend(colours)
lst

[1, 2, 3, 'red', 'orange', 'green', 'yellow', 'blue', 'black']

In [48]:
len(lst)

9

### The insert() method
The **insert()** function inserts an item at a given position

Both append() and extend() insert the element at the end of the list

syntax : **List.insert(ind, item)**

In [49]:
t = ['a','e','o','u']

In [50]:
# insert element 'i' at index 2
t.insert(2, 'i')

In [51]:
t

['a', 'e', 'i', 'o', 'u']

In [52]:
t = [0,1,2,3,5,6]
t.insert(4,4) # t.insert(index, item)
t

[0, 1, 2, 3, 4, 5, 6]

### The pop() method
The pop() is used to remove the item from the list

The pop() removes an element from the given position in the list

syntax : **List.pop(index)**

In [53]:
l = ['edu', 'bridge', 56, 6+9j, 56.56, 56, [45, 56.1, 8+6j],56, (85, 89.67)]
l

['edu', 'bridge', 56, (6+9j), 56.56, 56, [45, 56.1, (8+6j)], 56, (85, 89.67)]

In [54]:
l[6][2]

(8+6j)

In [55]:
l.pop

In [56]:
t = ['e','n','g','h','i','n','e','e','r','i','n','g']
t

['e', 'n', 'g', 'h', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g']

In [57]:
t.pop(3)
t

['e', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g']

In [58]:
# If we dont specify the index position, it will delete the last element from the list
t.pop()
t

['e', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n']

### The remove() method
The **remove()** method removes the first occurance of given item from the list.

syntax : **List.remove(value)**

In [59]:
t1 = ['a','e', 'k', 'p', 'm', 'o', 'a', 'p']
t1

['a', 'e', 'k', 'p', 'm', 'o', 'a', 'p']

In [60]:
t1.remove('a')

In [61]:
t1

['e', 'k', 'p', 'm', 'o', 'a', 'p']

In [62]:
t1.remove('p')

In [63]:
t1

['e', 'k', 'm', 'o', 'a', 'p']

### The clear() method
This method removes all the items from the list and the list becomes empty list after this function

In [64]:
L1 = [1, 2, 3, 4]

In [65]:
L1.clear()

In [66]:
L1

[]

### The count() method
This function returns the count of the item that you passed as argument

syntax : **List.count(item)**

In [67]:
L1 = [13, 18, 20, 18, 15, 18, 100, 13]
L1

[13, 18, 20, 18, 15, 18, 100, 13]

In [68]:
L1.count(13)

2

In [69]:
L1.count("e")

0

### The reverse() method

The reverse() reverses the items of the list.

syntax : **List.reverse()**

In [70]:
t1 = ['p', 'y', 't', 'h', 'o', 'n']
t1

['p', 'y', 't', 'h', 'o', 'n']

In [71]:
t1.reverse()
t1

['n', 'o', 'h', 't', 'y', 'p']

### The sort() method

The sort() function sorts the items of the list, by default in increasing order.

In [72]:
list1 = [9,10,11,12,89,100,101,1,25,12,15]
list1

[9, 10, 11, 12, 89, 100, 101, 1, 25, 12, 15]

In [73]:
list1.sort()
list1

[1, 9, 10, 11, 12, 12, 15, 25, 89, 100, 101]

In [74]:
list1

[1, 9, 10, 11, 12, 12, 15, 25, 89, 100, 101]

In [75]:
list1.sort(reverse=True)
list1

[101, 100, 89, 25, 15, 12, 12, 11, 10, 9, 1]

In [76]:
List = [8, 9, 100, 25, 89, 55, 2, 5, 10]

In [77]:
List.sort(reverse=True)
List

[100, 89, 55, 25, 10, 9, 8, 5, 2]

In [78]:
List2 = ['z', 'p', 'a', 'm', 'f', 's', 'b', 'd']
List2

['z', 'p', 'a', 'm', 'f', 's', 'b', 'd']

In [79]:
List2.sort()
List2

['a', 'b', 'd', 'f', 'm', 'p', 's', 'z']

In [80]:
List2.sort(reverse=True)
List2

['z', 's', 'p', 'm', 'f', 'd', 'b', 'a']

# Nested lists

## in-place operations in python

 it is a common design pattern in Python's standard library for in-place methods to return None. The purpose of such methods is primarily to modify the original object rather than creating a new one.

While reverse() itself does not return the reversed list, it is essential to understand that the original list a has been reversed, and the changes have been applied in place

In [7]:
a = [8, 7, 6, 5, 4, 3, 2, 1]
b = a.reverse()  # Reverses the list a in-place and returns None
print(a)  # Output: [1, 2, 3, 4, 5, 6, 7, 8]
print(b)  # Output: None

[1, 2, 3, 4, 5, 6, 7, 8]
None

In [10]:
import datetime
class Person(object):
    def __init__(self, name, birthday, height):
        self.name = name
        self.birthday = birthday
        self.height = height
    def __repr__(self):
        return self.name

l = [Person("John Cena", datetime.date(1992, 9, 12), 175),
Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]

l.sort(key=lambda item: item.name)
print(l)

[Chuck Norris, John Cena, Jon Skeet]

In [13]:
from operator import itemgetter,attrgetter
people = [{'name':'chandan','age':20,'salary':2000},
{'name':'chetan','age':18,'salary':5000},
{'name':'guru','age':30,'salary':3000}]

by_salary = itemgetter('salary')

people.sort(key=by_salary) #in-place sorting by salary

In [14]:
print(people)

[{'name': 'chandan', 'age': 20, 'salary': 2000}, {'name': 'guru', 'age': 30, 'salary': 3000}, {'name': 'chetan', 'age': 18, 'salary': 5000}]

### sort based on indices of a tuple.

In [15]:
list_of_tuples = [(1,2), (3,4), (5,0)]
list_of_tuples.sort(key=itemgetter(1))
print(list_of_tuples) #[(5, 0), (1, 2), (3, 4)]

[(5, 0), (1, 2), (3, 4)]

# sorted(iterable, key=None, reverse=False)

**iterable**: The input iterable that you want to sort.
**key (optional)**: A function that takes an element from the iterable as input and returns a value that will be used for sorting. If not provided, the elements themselves will be compared during sorting.
**reverse (optional)**: If True, the elements will be sorted in descending order. By default, it's False, meaning the elements will be sorted in ascending order.

In [19]:
list_of_tuples = [(1, 2), (3, 4), (5, 0)]
sorted_list = sorted(list_of_tuples, key=lambda x: x[1])
print(sorted_list)

[(5, 0), (1, 2), (3, 4)]

In [ ]:
numbers = [5, 2, 9, 1, 5, 6]
sorted_numbers = sorted(numbers)
print(sorted_numbers)  # Output: [1, 2, 5, 5, 6, 9]

#### Sorting a list of strings based on their lengths:

In [ ]:
words = ["apple", "banana", "grape", "orange"]
sorted_words = sorted(words, key=len)
print(sorted_words)  # Output: ['apple', 'grape', 'orange', 'banana']

In [18]:
#Sorting a dictionary by its values:

my_dict = {'apple': 3, 'banana': 1, 'grape': 5, 'orange': 2}
sorted_dict = sorted(my_dict.items(), key=lambda x: x[1])
print(sorted_dict)  # Output: [('banana', 1), ('orange', 2), ('apple', 3), ('grape', 5)]

[('banana', 1), ('orange', 2), ('apple', 3), ('grape', 5)]

In [21]:
lst = []
if not lst:
    print("list is empty")

list is empty

In [22]:
lst = []
if len(lst) == 0:
    print("list is empty")

list is empty

### Copying

In [25]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3