# String Manipulation

### Basic Operators

The two basic operators of **strings** are: + and *

strings with + operator perform ***concatenation*** rather than addition

strings with  * operator perform ***replication*** rather than multiplication

### String Concatenation Operator +

In [1]:
# Original strings are not modified as strings are immutable
"tea" + "Pot"

'teaPot'

In [2]:
'1' + 5

TypeError: can only concatenate str (not "int") to str

In [3]:
'123' + 'abc'

'123abc'

In [4]:
2 + 3  # addition - VALID

5

In [5]:
'2' + '3' # Concatenation - VALID

'23'

In [ ]:
'2' + 3 # INVALID

### String Replication Operator  *

To use * operator with strings, we need two types of operands, **a string and a number**

In [6]:
'Edubridge' * 3

'EdubridgeEdubridgeEdubridge'

In [ ]:
10 * 'go'

In [ ]:
'abc' * 5

In [ ]:
2 * 3 # Multiplication - VALID

In [ ]:
"2" * 3 # Replication - VALID

In [ ]:
# we cannot have strings as both the operands with a * operator
"2" * "3" # INVALID

### Membership Operators

There are two membership operators for strings -These are **in** and **not in** 

**in** Returns ***True*** if a character or a substring **exists** in the given string; ***False*** otherwise

**not in** Returns ***True*** if a character or a substring **does not exists** in the given string; ***False*** otherwise

In [9]:
"a" in "heya"

True

In [ ]:
"jap" in "heya"

In [ ]:
"JAP" in "japan"

In [ ]:
"jap" not in "JAPAN"

In [ ]:
"123" not in "abc"

In [ ]:
# The in and not in operators can also with string variables
sub = "hello"
sub2 = "hello"

In [ ]:
sub in sub2

In [ ]:
sub in sub2

## Identity operator

In [1]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [2]:
print(id(x),id(y),id(z))

2888394698880 2888394698240 2888394698880

In [11]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

### Comparison Operators

In [3]:
"a" == "a"

True

In [4]:
"abc" == "ABC"

False

In [5]:
"123" =="12a"

False

### String Slicing 

[start : end]

In [ ]:
# Indexing in python starts from 0 - forward indexing, Reverse Indexing - -1(minus one)
a = 'SANTHOSH'
# forward indexing
a[4:]

In [ ]:
a[-4:]

In [ ]:
a="SANTHOSH"
a[4:]
print(a[4:])

In [ ]:
a = "amazing"

In [ ]:
a[1:4]

In [ ]:
a[-6:-3]

In [ ]:
#Slice and Concatenate
a[0:4] + a[4:]

In [ ]:
a[:]

In [ ]:
a

In [ ]:
# Easy way to reverese a string
# Every character taken backwards
a[::-1]

## String Functions

### The len() function

It returns the count of characters in the passed string

In [18]:
a = 'Hello World'

In [19]:
len(a)

11

### capitalize() method

It returns a copy of the string with its first character capitalized.

In [20]:
'i LoVe my iNdiA'.capitalize()

'I love my india'

### title() method

It returns a title-cased version of the string where all words starts with uppercase characters and all remaining letters are in lowercase

In [21]:
'mechanical engineering'.title()

'Mechanical Engineering'

### count() method
It returns the number of occurrences of the substring

In [24]:
'abracadabra'.count('a')

5

### The lower() method

It returns a copy of **string converted to lowercase**

In [25]:
'HELLOWORLD'.lower()

'helloworld'

In [26]:
'Hello World'.lower()

'hello world'

### The upper() method

It returns a copy of **string converted to uppercase**

In [27]:
'edubridge'.upper()

'EDUBRIDGE'

### The islower() method

It returns **True** if all cased characters in the ***string*** are lowercase.

In [33]:
'hello'.islower()

True

In [ ]:
'Hello'.islower()

### The isupper() method

It returns **True** if all cased characters in the ***string*** are uppercase.

In [34]:
'HELLO'.isupper()

True

In [35]:
'U123'.isupper()

True

In [36]:
'computer'.isupper()

False

### The isdigit() method

It returns **True** if all characters in the ***string*** are digits.

In [37]:
'abc123'.isdigit()

False

In [38]:
'123456'.isdigit()

True

### The replace() method.

It returns copy of the string with all occurances of substring **old** replaced by **new** string

In [39]:
'I work for you'.replace('work', 'care')

'I care for you'

### split() method

#### split method creates one list syntaxt= str.split(seperator , maxsplit)

In [11]:
a="hello good morning have a nice day"
b=a.split() # default sep is space
print(b)

['hello', 'good', 'morning', 'have', 'a', 'nice', 'day']

In [12]:
#now u can count words in list
print(len(b))

7

In [13]:
b=a.split(sep="e") # default sep is space
print(b)

['h', 'llo good morning hav', ' a nic', ' day']

In [19]:
countries="ind,aus,korea,eng,africa,uk"
b=countries.split(",") # also now u can perform all operations on list
print(b)
print(len(b))
print(" ")
z=countries.split(",", maxsplit=3) 
print(z)

['ind', 'aus', 'korea', 'eng', 'africa', 'uk']
6

['ind', 'aus', 'korea', 'eng,africa,uk']

### The join() method

It joins a string or character after **each member of the string iterator**

## sep.join(iterable)

In [1]:
z=['ind', 'aus', 'korea', 'eng', 'africa', 'uk']
print(''.join(z))

indauskoreaengafricauk

In [40]:
'*'.join('Hello world')

'H*e*l*l*o* *w*o*r*l*d'

In [1]:
' '.join('Hello world')

'H e l l o   w o r l d'

In [ ]:
x=anuja
for i in range

In [2]:
from itertools import *

In [6]:
for p in permutations('pro'):
    print(p)

('p', 'r', 'o')
('p', 'o', 'r')
('r', 'p', 'o')
('r', 'o', 'p')
('o', 'p', 'r')
('o', 'r', 'p')

In [5]:
for p in permutations('pro'):
    print(''.join(p))

pro
por
rpo
rop
opr
orp

In [4]:
words = [''.join(p) for p in permutations('pro')]
print(words)

['pro', 'por', 'rpo', 'rop', 'opr', 'orp']

In [2]:
a=["a","b","c"]
''.join(a)

'abc'

In [4]:
for i in a:
    print(''.join(a))

abc
abc
abc

In [5]:
for i in a:
    print(''.join(i))

a
b
c

In [6]:
for i in a:
    print(i)

a
b
c